In [5]:
import pandas as pd
allData = pd.read_csv('world.csv',usecols=['國家','日期','總確診數','新增確診數'],index_col='日期')
allData

             國家    總確診數  新增確診數
日期
2020-02-24  阿富汗       5      5
2020-02-25  阿富汗       5      0
2020-02-26  阿富汗       5      0
2020-02-27  阿富汗       5      0
2020-02-28  阿富汗       5      0
...         ...     ...    ...
2022-07-02  辛巴威  255586      0
2022-07-03  辛巴威  255586      0
2022-07-04  辛巴威  255726    140
2022-07-05  辛巴威  255755     29
2022-07-06  辛巴威  255805     50

[187885 rows x 3 columns]

In [6]:
allData.index = pd.to_datetime(allData.index)
allData.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 187885 entries, 2020-02-24 to 2022-07-06
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   國家      187885 non-null  object
 1   總確診數    187885 non-null  int64
 2   新增確診數   187885 non-null  int64
dtypes: int64(2), object(1)
memory usage: 5.7+ MB

In [8]:
allData.loc['2021-09']

             國家    總確診數  新增確診數
日期
2021-09-01  阿富汗  153260     40
2021-09-02  阿富汗  153306     46
2021-09-03  阿富汗  153375     69
2021-09-04  阿富汗  153395     20
2021-09-05  阿富汗  153423     28
...         ...     ...    ...
2021-09-26  辛巴威  129625    120
2021-09-27  辛巴威  129919    294
2021-09-28  辛巴威  130272    353
2021-09-29  辛巴威  130485    213
2021-09-30  辛巴威  130820    335

[6877 rows x 3 columns]

In [10]:
allData.query('國家=="台灣"')

            國家     總確診數  新增確診數
日期
2020-01-16  台灣        0      0
2020-01-17  台灣        0      0
2020-01-18  台灣        0      0
2020-01-19  台灣        0      0
2020-01-20  台灣        0      0
...         ..      ...    ...
2022-07-02  台灣  3837856  34807
2022-07-03  台灣  3870528  32672
2022-07-04  台灣  3893643  23115
2022-07-05  台灣  3929627  35984
2022-07-06  台灣  3964188  34561

[903 rows x 3 columns]